@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: InterVariable, sans-serif;

    --animate-fade: fade 0.5s ease-in-out;
    --animate-fade-slow: fade 1.5s ease-in-out;
    @keyframes fade {
        0% {
            opacity: 0%;
            scale: 95%;
        }
        100% {
            opacity: 100%;
            scale: 100%;
        }
    }
}

input {
    @apply border-transparent focus:ring-0
}